<h1>New Comment!</h1>

<%= simple_form_for @comment do |f| %>
  <%= f.input :comment_body %>
  <%= f.input :post_id, as: :hidden, input_html: { value:@comment.post.id }%>

  <%= f.submit 'Comment!' %>
<% end %>
