<%= image_tag "https://static.vinepair.com/wp-content/themes/vpcontent/images/catmatch/cat-match-header.png", height: "120" %>

<h1>Hello, <%= current_user.full_name %>!</h1>

<p> Hello, and welcome </p>
