<section>
  <div class="wrapper">
    <div class="login-panel">
      <a href="<%= root_path %>" class="logo"></a>
      <p>Log in to start rocking.</p>
      <%= link_to "Log in with Google", user_omniauth_authorize_path(:google_oauth2), class:"button login-button" %>
    </div>
  </div>
</section>
