@import url('https://fonts.googleapis.com/css?family=Vollkorn');


.nav_bar {background-color: turquoise;}

body {
  background-color: pink;
  font-family: 'Vollkorn', serif;
}

h1 {
  color: darkblue;
}

p {
  color: black;
}
