body {
	text-align: center;
  font-family: 'Muli', Helvetica, Arial;
}

p{
  font-family: 'Muli'
}

.left-align{
	text-align: left;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5B8B8;
}

.navitem {
    float: left;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navitem a:hover {
    background-color: #FFF0F0;
}

@import url(//fonts.googleapis.com/css?family=Muli);
@import "posts";
